@{
    ViewData["Title"] = "Administratorius";
}
<h1 class="text">@ViewData["Title"]</h1>

<div class="registracijosborderis">
    <div class="input-group">
        <input type="text" id="name" required class="input">
        <label for="name" class="input-label"><p class="text">Prisijungimo vardas</p></label>
    </div>

    <div class="input-group">
        <input type="password" id="name" required class="input">
        <label for="name" class="input-label"><p class="text">Slaptažodis</p></label>
    </div>

    <a href="#" class="button2 text">Prisijungti</a>
</div>