html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    width: 100%;
    height: 7000px;
    background-color: white;
    color: #151515;
    border: 10px solid;
    border-image: linear-gradient( #ff512f, #dd2476, #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
    justify-content: space-between;
    align-items: center;
}


@keyframes rotate {
    50% {
        border-image: linear-gradient( 360deg, #ff512f, #dd2476, #1c64ff) 1;
    }
}

.card2 {
    width: 100%;
    height: 100px;
    background-color: white;
    color: #151515;
    border-top: 10px solid;
    border-left: 10px solid;
    border-right: 10px solid;
    border-image: linear-gradient( #ff512f, #dd2476, #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
    justify-content: space-between;
    align-items: center;
}


@keyframes rotate {
    50% {
        border-image: linear-gradient( 360deg, #ff512f, #dd2476, #1c64ff) 1;
    }
}

.button {
    display: inline-block;
    background-color: white;
    color: #151515;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #3c67e3;
    border-radius: 10px;
}

.button:hover {
    animation: pulsate 2s;
    ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}

.baltajuosta {
    width: 100%;
    height: 60px;
    background-color: white;
    color: #151515;
}

.text::selection {
    background-color: #1fe8b6;
    color: white;
}

.input-group {
    position: relative;
}
.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #1fe8b6;
    background-color: transparent;
    outline: 2px solid #1fe8b6;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}
.input:focus + .input-label, input:valid + .input-label {
    transform: translate(0, -30px) scale(.8);
    color: #1fe8b6;
}

.input:is(:focus, :valid) {
    outline-color: #1fe8b6;
}

.button2 {
    text-decoration: none;
    font-size: 25px;
    color: #1fe8b6;
    padding: 20px 50px;
    border: 3px solid #1fe8b6;
    position: relative;
    row-gap: 70px;
}

.button2::before,
.button2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: inherit;
    transition: all .5s;
}
.button2::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.button2::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button2:hover::before,
.button2:hover::after{
    width: calc(100% + 27px);
    height: calc(100% +27px);
}

.registracijosborderis {
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.callout {
    display: flex;
    width: 95%;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagrindinioeilute {
    display: flex;
    width: 20%;
    height: 200px;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content:center;
}
.pagrindinioknygosmygtukai {
    display: flex;
    border-radius: 20px;
    color: azure;
    width: 100%;
    height: 450px;
}
.registracijoslaukelis {
    width: 200px;
}