@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text">Knygos:</h1>
</div>

<div class="callout">
    <div class="pagrindinioeilute">
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/4V8wJO5JFGddD8fo2obnmTs47Vk=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/2693983/1657891553_zelenskis_1virselis_1.jpg"/></div>
        <form action="Knygas/Details/3" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/zySdh2InbNNYmYpoDULuzdeHF-k=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/992105/1462889120_turtingastetis071z1.jpg"/></div>
        <form action="Knygas/Details/4" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/kmAWx0glHvvVUn2VFGW0Gs5AMN8=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/1169108/1533286659_gyvuliu-ukis-2018.jpg"/></div>
        <form action="Knygas/Details/5" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
    </div>
    <div class="pagrindinioeilute">
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/7gNdt7OamW9gtsp9N_ht7TtS3SA=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/1162923/1518700215_Neribota-Atmintis-priekinis-virselis.png"/></div>
        <form action="Knygas/Details/6" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/RX--C02sklI7XyeOF0ketxcShnQ=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/1446279/1561552643_Atominiai-iprociai-virselis-liutai-priekis-JPG_geras.jpg"/></div>
        <form action="Knygas/Details/7" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/BkYKfT32Y7Fa9BOtJBYWQaikjSA=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/744081/1462885400_vmpaltoriusesely72max.jpg"/></div>
        <form action="Knygas/Details/8" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
    </div>
    <div class="pagrindinioeilute">
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/ZKVP0o-ZCH0dVe_RtpKxeXVVObM=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/974262/1462888387_cdb9786098013351z1.jpg"/></div>
        <form action="Knygas/Details/9" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/J7GRoK7Dy_LipJPhzAH45KbsYf8=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/1128030/1476697644_ELON_MUSK__Greit_5800caff14052.jpg"/></div>
        <form action="Knygas/Details/10" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>
        <div class="pagrindinioknygosmygtukai text"><img src="https://thumb.knygos-static.lt/QK7duNQmt6B_G0AmGZtUBZp2ryM=/fit-in/0x800/filters:cwatermark(static/wm.png,500,75,30)/images/books/2669051/1645778887_Lengvas_budas_praturteti_kriptovaliutos_virselis_obuolys_LT_01-1.jpg"/></div>
        <form action="Knygas/Details/11" method="POST">
            <input type="submit" value="Rezervuoti" />
        </form>

    </div>
</div>
