@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text">Knygos:</h1>
</div>

<div class="callout">
    <div class="pagrindinioeilute">
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
    </div>
    <div class="pagrindinioeilute">
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
    </div>
    <div class="pagrindinioeilute">
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>
        <div class="pagrindinioknygosmygtukai text"></div>
        <a href="#" class="button text">Rezervuoti</a>

    </div>
</div>
