@{
    ViewData["Title"] = "Registracija: ";
}
<h1>@ViewData["Title"]</h1>

<div class="input-group">
    <input type="text" id="name" required class="input">
    <label for="name" class="input-label">Vardas</label>
</div>

<div class="input-group">
    <input type="text" id="name" required class="input">
    <label for="name" class="input-label">Pavardė</label>
</div>

<div class="input-group">
    <input type="text" id="name" required class="input">
    <label for="name" class="input-label">Pažymėjimo ID</label>
</div>

<div class="input-group">
    <input type="password" id="name" required class="input">
    <label for="name" class="input-label">Slaptažodis</label>
</div>
<div class="input-group">
    <input type="password" id="name" required class="input">
    <label for="name" class="input-label">Pakartoti slaptažodį</label>
</div>

<a href="#" class="button2">Registruotis</a>